<nav class="nav simple horizontal responsive single-level">
	<ul>
		{% for item in menu.get_items %}
			<li class="{{ item.classes | join(' ') }} first-level off first{% if 'current-menu-item' in item.classes %} active{% endif %}">
				<a class="nav-main-link{% if 'current-menu-item' in item.classes %} active{% endif %}" href="{{item.get_link}}">{{ item.title }}</a>
				<br>
				<small>{{ item.attr_title }}</small>
			</li>
		{% endfor %}
	</ul>
</nav>
