{% do action( 'maera/wrap/after' ) %}
{% do action( 'maera/footer/before', post.ID ) %}
<footer class="page-footer">
	{% do action( 'maera/footer/start', post.ID ) %}
	<div class="[maera_grid_container_class] wrap footer-section" id="wrap-footer-section">
		<div class="[maera_grid_row_class]">
			{{ sidebar.footer }}
			{% do action( 'maera/footer/content' ) %}
		</div>
	</div>
	{% do action( 'maera/footer/end', post.ID ) %}
</footer>
{% do action( 'maera/footer/after', post.ID ) %}
{{ function( 'wp_footer' ) }}
</body>
</html>
