{#<?php#}
{% do action( 'maera/wrap/before', post.ID ) %}

<div class="wrap main-section" id="wrap-main-section">
	{% do action( 'maera/content/before', post.ID ) %}
	<div class="content" id="content" itemprop="mainContentOfPage">
		<div class="front-top-wrapper">
			<div class="inside{% if theme.theme_mod('front_top_container', 1) == 1 %} container{% endif %}">
				{{ sidebar.front_top }}
			</div>
		</div>
		<div class="content-primary-wrapper {{ 'main'|apply_filters( 'maera/section_class/wrapper' ) }}">
			<main class="{{ 'main'|apply_filters( 'maera/section_class/content' ) }}inside{% if theme.theme_mod('front_main_container', 1) == 1 %} container{% endif %}" role="main">
				<div class="row">{{ sidebar.front_main }}</div>
			</main><!-- /.main -->
			{% include 'sidebar.twig'|apply_filters('maera/sidebar_template') %}
		</div>
		<div class="clearfix"></div>
	</div><!-- /#content -->
	{% do action( 'maera/content/after' ) %}
</div>
