{# PRIMARY SIDEBAR #}
<aside id="sidebar-primary" class="[maera_grid_col_4] {{ 'sidebar'|apply_filters( 'maera/section_class/primary' ) }}" role="complementary">
	<div class="row">{{ sidebar.primary }}</div>
</aside>
