@import 'bootstrap/bootstrap.less';
@import 'flat-ui/flat-ui.less';
@import 'parts/featured-posts.less';
// @import 'parts/widget-colors.less';
//
body {
	.content-primary-wrapper.main {
		margin-top: 20px;
	}
	#sidebar-primary {
		float: right;
	}
	.main.inside {
		position: absolute;
		width: auto;
	}
	.main-content-table {
		position: relative;
	}

	&.sidebar-300 {
		#sidebar-primary {
			width: 330px;
			min-width: 330px;
			max-width: 330px;
		}
		.main.inside {
			margin-right: 320px;
		}
	}

	&.sidebar-320 {
		#sidebar-primary {
			width: 350px;
			min-width: 350px;
			max-width: 350px;
		}
		.main.inside {
			margin-right: 340px;
		}
	}

	&.sidebar-336 {
		#sidebar-primary {
			width: 366px;
			min-width: 366px;
			max-width: 366px;
		}
		.main.inside {
			margin-right: 356px;
		}
	}

}

// .content-primary-wrapper.main {
// 	display: -webkit-flex;
// 	display: -moz-flex;
// 	display: flex;
// }
//
// .top.module {
// 	clear: both;
//
// 	&.single {
//
// 		a.featured-image {
// 			width: 60%;
// 			margin-right: 2%;
// 			display: inline-block;
// 			float: left;
// 		}
// 		.content {
// 			width: 38%;
// 			font-size: 1.2em;
// 			display: inline-block;
// 		}
// 		.title {
// 			padding-bottom: 1em;
// 			border-bottom: 1px dashed #dedede;
// 			a {
// 				color: #333;
// 				text-decoration: none;
// 			}
// 		}
// 	}
//
// }
//
// img {
// 	max-width: 100%;
// }
//
// div.post-list {
// 	padding-right: 20px;
// }


img {
	max-width: 100%;
}

.module {
	&.single {
		h3 {
			margin-top: 0;
		}
	}
}

.palette {
	&-turquoise,
	&-green-sea,
	&-emerald,
	&-nephritis,
	&-peter-river,
	&-belize-hole,
	&-amethyst,
	&-wisteria,
	&-wet-asphalt,
	&-midnight-blue,
	&-sun-flower,
	&-orange,
	&-carrot,
	&-pumpkin,
	&-alizarin,
	&-pomegranate,
	// &.clouds,
	// &.silver,
	// &.concrete,
	&-asbestos {
		color: #fff;
		a {
			color: #fff;
		}
	}

	&-turquoise {}
	&-green-sea {}
	&-emerald {}
	&-nephritis {}
	&-peter-river {}
	&-belize-hole {}
	&-amethyst {}
	&-wisteria {}
	&-wet-asphalt {}
	&-midnight-blue {}
	&-sun-flower {}
	&-orange {}
	&-carrot {}
	&-pumpkin {}
	&-alizarin {}
	&-pomegranate {}
	&-clouds {}
	&-silver {}
	&-concrete {}
	&-asbestos {}
}

.global.header {
	padding-top: 20px;
	padding-bottom: 20px;
}
