@import 'bootstrap/bootstrap.less';
@import 'flat-ui/flat-ui.less';
@import 'parts/featured-posts.less';
@import 'parts/menus.less';
@import 'parts/widget-colors.less';


body {
	.content-primary-wrapper.main {
		.container {
			padding-top: 20px;
			background: #fff;
		}
	}
}

img {
	max-width: 100%;
}

.module {
	&.single {
		h3 {
			margin-top: 0;
		}
	}
}

.global.header {
	padding-top: 20px;
	padding-bottom: 20px;
}

.entry-meta {
	font-size: .85em;
}

.front-top-wrapper {
	padding-top: 20px;
	padding-bottom: 20px;
}

.widget .navbar {
	margin-bottom: 0;
}

textarea#comment {
	.form-control;
	min-height: 9em;
}

input[type="button"],
input[type="submit"],
input[type="reset"],
input[type="file"]::-webkit-file-upload-button,
button {
	.btn;
	.btn-primary;
}

@media (max-width: @screen-sm-min) {
	body.sidebar-300 .main-content-table .main { width: 100% }
	body.sidebar-300 .main-content-table #sidebar-primary { width: 100% }
	body.sidebar-320 .main-content-table .main { width: 100% }
	body.sidebar-320 .main-content-table #sidebar-primary { width: 100% }
	body.sidebar-336 .main-content-table .main { width: 100% }
	body.sidebar-336 .main-content-table #sidebar-primary {  }
}
@media (max-width: @screen-md-min) {
	body.sidebar-300 .main-content-table .main { width: (@container-sm - 300px); }
	body.sidebar-300 .main-content-table #sidebar-primary { width: 300px; }
	body.sidebar-320 .main-content-table .main { width: (@container-sm - 320px); }
	body.sidebar-320 .main-content-table #sidebar-primary { width: 320px; }
	body.sidebar-336 .main-content-table .main { width: (@container-sm - 336px); }
	body.sidebar-336 .main-content-table #sidebar-primary { width: 336px; }
}
@media (max-width: @screen-lg-min) {
	body.sidebar-300 .main-content-table .main { width: (@container-md - 300px); }
	body.sidebar-300 .main-content-table #sidebar-primary { width: 300px; }
	body.sidebar-320 .main-content-table .main { width: (@container-md - 320px); }
	body.sidebar-320 .main-content-table #sidebar-primary { width: 320px; }
	body.sidebar-336 .main-content-table .main { width: (@container-md - 336px); }
	body.sidebar-336 .main-content-table #sidebar-primary { width: 336px; }
}
@media (min-width: @screen-lg-min) {
	body.sidebar-300 .main-content-table .main { width: (@container-lg - 300px); }
	body.sidebar-300 .main-content-table #sidebar-primary { width: 300px; }
	body.sidebar-320 .main-content-table .main { width: (@container-lg - 320px); }
	body.sidebar-320 .main-content-table #sidebar-primary { width: 320px; }
	body.sidebar-336 .main-content-table .main { width: (@container-lg - 336px); }
	body.sidebar-336 .main-content-table #sidebar-primary { width: 336px; }
}
