@import 'bootstrap/bootstrap.less';
@import 'flat-ui/flat-ui.less';
@import 'parts/featured-posts.less';
@import 'parts/menus.less';
// @import 'parts/widget-colors.less';
//
body {
	.content-primary-wrapper.main {
		.container {
			padding-top: 20px;
			background: #fff;
		}

		.main-content-table {
			display: table;
			position: relative;

			.main.inside,
			#sidebar-primary {
				display: table-cell;
				width: 100%;
				float: none;
				vertical-align: top;
			}

			.main.inside {
				width: 100%;
			}
		}
	}

	&.sidebar-300 {
		#sidebar-primary {
			width: 330px;
			min-width: 330px;
			max-width: 330px;
		}
		.main.inside {
			margin-right: 320px;
		}
	}

	&.sidebar-320 {
		#sidebar-primary {
			width: 350px;
			min-width: 350px;
			max-width: 350px;
		}
		.main.inside {
			margin-right: 340px;
		}
	}

	&.sidebar-336 {
		#sidebar-primary {
			width: 366px;
			min-width: 366px;
			max-width: 366px;
		}
		.main.inside {
			margin-right: 356px;
		}
	}

}

// .content-primary-wrapper.main {
// 	display: -webkit-flex;
// 	display: -moz-flex;
// 	display: flex;
// }
//
// .top.module {
// 	clear: both;
//
// 	&.single {
//
// 		a.featured-image {
// 			width: 60%;
// 			margin-right: 2%;
// 			display: inline-block;
// 			float: left;
// 		}
// 		.content {
// 			width: 38%;
// 			font-size: 1.2em;
// 			display: inline-block;
// 		}
// 		.title {
// 			padding-bottom: 1em;
// 			border-bottom: 1px dashed #dedede;
// 			a {
// 				color: #333;
// 				text-decoration: none;
// 			}
// 		}
// 	}
//
// }
//
// img {
// 	max-width: 100%;
// }
//
// div.post-list {
// 	padding-right: 20px;
// }


img {
	max-width: 100%;
}

.module {
	&.single {
		h3 {
			margin-top: 0;
		}
	}
}

.palette {
	&-cyan,
	&-teal,
	&-green,
	&-dark-green,
	&-blue,
	&-indigo,
	&-pink,
	&-purple,
	&-brown,
	&-blue-grey,
	&-amber,
	&-orange,
	&-deep-orange,
	&-yellow,
	&-red,
	&-red-dark,
	// &.almost-white,
	// &.almost-grey,
	// &.concrete-grey,
	&-asbestos-grey {
		color: #fff;
		a {
			color: #fff;
		}
	}

	&-cyan {}
	&-teal {}
	&-green {}
	&-dark-green {}
	&-blue {}
	&-indigo {}
	&-pink {}
	&-purple {}
	&-brown {}
	&-blue-grey {}
	&-amber {}
	&-orange {}
	&-deep-orange {}
	&-yellow {}
	&-red {}
	&-red-dark {}
	&-almost-white {}
	&-almost-grey {}
	&-concrete-grey {}
	&-asbestos-grey {}
}

.global.header {
	padding-top: 20px;
	padding-bottom: 20px;
}

.entry-meta {
	font-size: .85em;
}

.front-top-wrapper {
	padding-top: 20px;
	padding-bottom: 20px;
}

.widget .navbar {
	margin-bottom: 0;
}
