.nav.simple.horizontal.two-levels {
	background: #333;
	position: relative;
	height: 72px;
	ul.links {
		padding: 0;
		margin-left: 0;
		list-style: none;
		list-style-type: none;
		margin-top: 10px;
		height: 10px;
		li {
			display: inline-block;
			a {
				padding: 10px 15px;
				text-decoration: none;
				color: #fff;
				background: #333;
			}
			ul {
				display: none;
			}
			&.active,
			&:hover {
				a {
					background: #c00;
				}
				ul.second-level {
					position: absolute;
					left: 0;
					z-index: 999;
					display: block;
					padding: 10px 0;
					height: 16px;
					margin-left: 0;
					list-style: none;
					list-style-type: none;
					margin-top: 10px;
					background: #c00;
					width: 100%;
					li {
						display: inline-block;
					}
				}
			}
		}
	}
}
