.widget {

	border-bottom: 5px solid transparent;

	&.red         {
		border-color: #f44336;
		.button.read-more {
			background: #f44336;
		}
	}
	&.pink        {
		border-color: #e91e63;
		.button.read-more {
			background: #e91e63;
		}
	}
	&.purple      {
		border-color: #9c27b0;
		.button.read-more {
			background: #9c27b0;
		}
	}
	&.deep-purple {
		border-color: #673ab7;
		.button.read-more {
			background: #673ab7;
		}
	}
	&.indigo      {
		border-color: #3f51b5;
		.button.read-more {
			background: #3f51b5;
		}
	}
	&.blue        {
		border-color: #2196f3;
		.button.read-more {
			background: #2196f3;
		}
	}
	&.light-blue  {
		border-color: #03a9f4;
		.button.read-more {
			background: #03a9f4;
		}
	}
	&.cyan        {
		border-color: #00bcd4;
		.button.read-more {
			background: #00bcd4;
		}
	}
	&.teal        {
		border-color: #009688;
		.button.read-more {
			background: #009688;
		}
	}
	&.green       {
		border-color: #4caf50;
		.button.read-more {
			background: #4caf50;
		}
	}
	&.light-green {
		border-color: #8bc34a;
		.button.read-more {
			background: #8bc34a;
		}
	}
	&.lime        {
		border-color: #cddc39;
		.button.read-more {
			background: #cddc39;
		}
	}
	&.yellow      {
		border-color: #ffeb3b;
		.button.read-more {
			background: #ffeb3b;
		}
	}
	&.amber       {
		border-color: #ffc107;
		.button.read-more {
			background: #ffc107;
		}
	}
	&.orange      {
		border-color: #ff9800;
		.button.read-more {
			background: #ff9800;
		}
	}
	&.deep-orange {
		border-color: #ff5722;
		.button.read-more {
			background: #ff5722;
		}
	}
	&.brown       {
		border-color: #795548;
		.button.read-more {
			background: #795548;
		}
	}
	&.grey        {
		border-color: #9e9e9e;
		.button.read-more {
			background: #9e9e9e;
		}
	}
	&.blue-grey   {
		border-color: #607d8b;
		.button.read-more {
			background: #607d8b;
		}
	}

	.button.read-more {
		color: #fff;
		text-decoration: none;
		padding: .5rem 1rem;
	}

}
