.container {
  margin-left: auto;
  margin-right: auto;
}
.container-fluid {
  margin-right: auto;
  margin-left: auto;
  padding-right: 2rem;
  padding-left: 2rem;
}
.row {
  box-sizing: border-box;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 0;
  -webkit-flex: 0 1 auto;
  -ms-flex: 0 1 auto;
  flex: 0 1 auto;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin-right: -0.5rem;
  margin-left: -0.5rem;
}
.row.reverse {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
  -webkit-flex-direction: row-reverse;
  -ms-flex-direction: row-reverse;
  flex-direction: row-reverse;
}
.col.reverse {
  -webkit-box-orient: vertical;
  -webkit-box-direction: reverse;
  -webkit-flex-direction: column-reverse;
  -ms-flex-direction: column-reverse;
  flex-direction: column-reverse;
}
.col-xs,
.col-xs-1,
.col-xs-2,
.col-xs-3,
.col-xs-4,
.col-xs-5,
.col-xs-6,
.col-xs-7,
.col-xs-8,
.col-xs-9,
.col-xs-10,
.col-xs-11,
.col-xs-12,
.col-xs-offset-1,
.col-xs-offset-2,
.col-xs-offset-3,
.col-xs-offset-4,
.col-xs-offset-5,
.col-xs-offset-6,
.col-xs-offset-7,
.col-xs-offset-8,
.col-xs-offset-9,
.col-xs-offset-10,
.col-xs-offset-11,
.col-xs-offset-12 {
  box-sizing: border-box;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex: 0 1 auto;
  -ms-flex: 0 1 auto;
  flex: 0 1 auto;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-flex: 0;
  -webkit-flex-grow: 0;
  -ms-flex-positive: 0;
  flex-grow: 0;
  -webkit-flex-shrink: 0;
  -ms-flex-negative: 0;
  flex-shrink: 0;
  padding-right: 0.5rem;
  padding-left: 0.5rem;
}
.col-xs {
  -webkit-box-flex: 1;
  -webkit-flex-grow: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
  -webkit-flex-basis: 0;
  -ms-flex-preferred-size: 0;
  flex-basis: 0;
  max-width: 100%;
}
.col-xs-1 {
  -webkit-flex-basis: 8.33333333%;
  -ms-flex-preferred-size: 8.33333333%;
  flex-basis: 8.33333333%;
  max-width: 8.33333333%;
}
.col-xs-2 {
  -webkit-flex-basis: 16.66666667%;
  -ms-flex-preferred-size: 16.66666667%;
  flex-basis: 16.66666667%;
  max-width: 16.66666667%;
}
.col-xs-3 {
  -webkit-flex-basis: 25%;
  -ms-flex-preferred-size: 25%;
  flex-basis: 25%;
  max-width: 25%;
}
.col-xs-4 {
  -webkit-flex-basis: 33.33333333%;
  -ms-flex-preferred-size: 33.33333333%;
  flex-basis: 33.33333333%;
  max-width: 33.33333333%;
}
.col-xs-5 {
  -webkit-flex-basis: 41.66666667%;
  -ms-flex-preferred-size: 41.66666667%;
  flex-basis: 41.66666667%;
  max-width: 41.66666667%;
}
.col-xs-6 {
  -webkit-flex-basis: 50%;
  -ms-flex-preferred-size: 50%;
  flex-basis: 50%;
  max-width: 50%;
}
.col-xs-7 {
  -webkit-flex-basis: 58.33333333%;
  -ms-flex-preferred-size: 58.33333333%;
  flex-basis: 58.33333333%;
  max-width: 58.33333333%;
}
.col-xs-8 {
  -webkit-flex-basis: 66.66666667%;
  -ms-flex-preferred-size: 66.66666667%;
  flex-basis: 66.66666667%;
  max-width: 66.66666667%;
}
.col-xs-9 {
  -webkit-flex-basis: 75%;
  -ms-flex-preferred-size: 75%;
  flex-basis: 75%;
  max-width: 75%;
}
.col-xs-10 {
  -webkit-flex-basis: 83.33333333%;
  -ms-flex-preferred-size: 83.33333333%;
  flex-basis: 83.33333333%;
  max-width: 83.33333333%;
}
.col-xs-11 {
  -webkit-flex-basis: 91.66666667%;
  -ms-flex-preferred-size: 91.66666667%;
  flex-basis: 91.66666667%;
  max-width: 91.66666667%;
}
.col-xs-12 {
  -webkit-flex-basis: 100%;
  -ms-flex-preferred-size: 100%;
  flex-basis: 100%;
  max-width: 100%;
}
.col-xs-offset-1 {
  margin-left: 8.33333333%;
}
.col-xs-offset-2 {
  margin-left: 16.66666667%;
}
.col-xs-offset-3 {
  margin-left: 25%;
}
.col-xs-offset-4 {
  margin-left: 33.33333333%;
}
.col-xs-offset-5 {
  margin-left: 41.66666667%;
}
.col-xs-offset-6 {
  margin-left: 50%;
}
.col-xs-offset-7 {
  margin-left: 58.33333333%;
}
.col-xs-offset-8 {
  margin-left: 66.66666667%;
}
.col-xs-offset-9 {
  margin-left: 75%;
}
.col-xs-offset-10 {
  margin-left: 83.33333333%;
}
.col-xs-offset-11 {
  margin-left: 91.66666667%;
}
.col-sm,
.col-sm-1,
.col-sm-2,
.col-sm-3,
.col-sm-4,
.col-sm-5,
.col-sm-6,
.col-sm-7,
.col-sm-8,
.col-sm-9,
.col-sm-10,
.col-sm-11,
.col-sm-12,
.col-sm-offset-1,
.col-sm-offset-2,
.col-sm-offset-3,
.col-sm-offset-4,
.col-sm-offset-5,
.col-sm-offset-6,
.col-sm-offset-7,
.col-sm-offset-8,
.col-sm-offset-9,
.col-sm-offset-10,
.col-sm-offset-11,
.col-sm-offset-12 {
  box-sizing: border-box;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex: 0 1 auto;
  -ms-flex: 0 1 auto;
  flex: 0 1 auto;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-flex: 0;
  -webkit-flex-grow: 0;
  -ms-flex-positive: 0;
  flex-grow: 0;
  -webkit-flex-shrink: 0;
  -ms-flex-negative: 0;
  flex-shrink: 0;
  padding-right: 0.5rem;
  padding-left: 0.5rem;
}
.start-xs {
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  text-align: start;
}
.center-xs {
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  text-align: center;
}
.end-xs {
  -webkit-box-pack: end;
  -webkit-justify-content: flex-end;
  -ms-flex-pack: end;
  justify-content: flex-end;
  text-align: end;
}
.top-xs {
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
  -ms-flex-align: start;
  align-items: flex-start;
}
.middle-xs {
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}
.bottom-xs {
  -webkit-box-align: end;
  -webkit-align-items: flex-end;
  -ms-flex-align: end;
  align-items: flex-end;
}
.around-xs {
  -webkit-justify-content: space-around;
  -ms-flex-pack: distribute;
  justify-content: space-around;
}
.between-xs {
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
}
.first-xs {
  -webkit-box-ordinal-group: 0;
  -webkit-order: -1;
  -ms-flex-order: -1;
  order: -1;
}
.last-xs {
  -webkit-box-ordinal-group: 2;
  -webkit-order: 1;
  -ms-flex-order: 1;
  order: 1;
}
@media only screen and (min-width: 48em) {
  .container {
    width: 46rem;
  }
  .col-sm {
    -webkit-box-flex: 1;
    -webkit-flex-grow: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
    -webkit-flex-basis: 0;
    -ms-flex-preferred-size: 0;
    flex-basis: 0;
    max-width: 100%;
  }
  .col-sm-1 {
    -webkit-flex-basis: 8.33333333%;
    -ms-flex-preferred-size: 8.33333333%;
    flex-basis: 8.33333333%;
    max-width: 8.33333333%;
  }
  .col-sm-2 {
    -webkit-flex-basis: 16.66666667%;
    -ms-flex-preferred-size: 16.66666667%;
    flex-basis: 16.66666667%;
    max-width: 16.66666667%;
  }
  .col-sm-3 {
    -webkit-flex-basis: 25%;
    -ms-flex-preferred-size: 25%;
    flex-basis: 25%;
    max-width: 25%;
  }
  .col-sm-4 {
    -webkit-flex-basis: 33.33333333%;
    -ms-flex-preferred-size: 33.33333333%;
    flex-basis: 33.33333333%;
    max-width: 33.33333333%;
  }
  .col-sm-5 {
    -webkit-flex-basis: 41.66666667%;
    -ms-flex-preferred-size: 41.66666667%;
    flex-basis: 41.66666667%;
    max-width: 41.66666667%;
  }
  .col-sm-6 {
    -webkit-flex-basis: 50%;
    -ms-flex-preferred-size: 50%;
    flex-basis: 50%;
    max-width: 50%;
  }
  .col-sm-7 {
    -webkit-flex-basis: 58.33333333%;
    -ms-flex-preferred-size: 58.33333333%;
    flex-basis: 58.33333333%;
    max-width: 58.33333333%;
  }
  .col-sm-8 {
    -webkit-flex-basis: 66.66666667%;
    -ms-flex-preferred-size: 66.66666667%;
    flex-basis: 66.66666667%;
    max-width: 66.66666667%;
  }
  .col-sm-9 {
    -webkit-flex-basis: 75%;
    -ms-flex-preferred-size: 75%;
    flex-basis: 75%;
    max-width: 75%;
  }
  .col-sm-10 {
    -webkit-flex-basis: 83.33333333%;
    -ms-flex-preferred-size: 83.33333333%;
    flex-basis: 83.33333333%;
    max-width: 83.33333333%;
  }
  .col-sm-11 {
    -webkit-flex-basis: 91.66666667%;
    -ms-flex-preferred-size: 91.66666667%;
    flex-basis: 91.66666667%;
    max-width: 91.66666667%;
  }
  .col-sm-12 {
    -webkit-flex-basis: 100%;
    -ms-flex-preferred-size: 100%;
    flex-basis: 100%;
    max-width: 100%;
  }
  .col-sm-offset-1 {
    margin-left: 8.33333333%;
  }
  .col-sm-offset-2 {
    margin-left: 16.66666667%;
  }
  .col-sm-offset-3 {
    margin-left: 25%;
  }
  .col-sm-offset-4 {
    margin-left: 33.33333333%;
  }
  .col-sm-offset-5 {
    margin-left: 41.66666667%;
  }
  .col-sm-offset-6 {
    margin-left: 50%;
  }
  .col-sm-offset-7 {
    margin-left: 58.33333333%;
  }
  .col-sm-offset-8 {
    margin-left: 66.66666667%;
  }
  .col-sm-offset-9 {
    margin-left: 75%;
  }
  .col-sm-offset-10 {
    margin-left: 83.33333333%;
  }
  .col-sm-offset-11 {
    margin-left: 91.66666667%;
  }
  .start-sm {
    -webkit-box-pack: start;
    -webkit-justify-content: flex-start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    text-align: start;
  }
  .center-sm {
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    text-align: center;
  }
  .end-sm {
    -webkit-box-pack: end;
    -webkit-justify-content: flex-end;
    -ms-flex-pack: end;
    justify-content: flex-end;
    text-align: end;
  }
  .top-sm {
    -webkit-box-align: start;
    -webkit-align-items: flex-start;
    -ms-flex-align: start;
    align-items: flex-start;
  }
  .middle-sm {
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
  }
  .bottom-sm {
    -webkit-box-align: end;
    -webkit-align-items: flex-end;
    -ms-flex-align: end;
    align-items: flex-end;
  }
  .around-sm {
    -webkit-justify-content: space-around;
    -ms-flex-pack: distribute;
    justify-content: space-around;
  }
  .between-sm {
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between;
  }
  .first-sm {
    -webkit-box-ordinal-group: 0;
    -webkit-order: -1;
    -ms-flex-order: -1;
    order: -1;
  }
  .last-sm {
    -webkit-box-ordinal-group: 2;
    -webkit-order: 1;
    -ms-flex-order: 1;
    order: 1;
  }
}
@media only screen and (min-width: 62em) {
  .container {
    width: 61rem;
  }
  .col-md,
  .col-md-1,
  .col-md-2,
  .col-md-3,
  .col-md-4,
  .col-md-5,
  .col-md-6,
  .col-md-7,
  .col-md-8,
  .col-md-9,
  .col-md-10,
  .col-md-11,
  .col-md-12,
  .col-md-offset-1,
  .col-md-offset-2,
  .col-md-offset-3,
  .col-md-offset-4,
  .col-md-offset-5,
  .col-md-offset-6,
  .col-md-offset-7,
  .col-md-offset-8,
  .col-md-offset-9,
  .col-md-offset-10,
  .col-md-offset-11,
  .col-md-offset-12 {
    box-sizing: border-box;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex: 0 1 auto;
    -ms-flex: 0 1 auto;
    flex: 0 1 auto;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-flex: 0;
    -webkit-flex-grow: 0;
    -ms-flex-positive: 0;
    flex-grow: 0;
    -webkit-flex-shrink: 0;
    -ms-flex-negative: 0;
    flex-shrink: 0;
    padding-right: 0.5rem;
    padding-left: 0.5rem;
  }
  .col-md {
    -webkit-box-flex: 1;
    -webkit-flex-grow: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
    -webkit-flex-basis: 0;
    -ms-flex-preferred-size: 0;
    flex-basis: 0;
    max-width: 100%;
  }
  .col-md-1 {
    -webkit-flex-basis: 8.33333333%;
    -ms-flex-preferred-size: 8.33333333%;
    flex-basis: 8.33333333%;
    max-width: 8.33333333%;
  }
  .col-md-2 {
    -webkit-flex-basis: 16.66666667%;
    -ms-flex-preferred-size: 16.66666667%;
    flex-basis: 16.66666667%;
    max-width: 16.66666667%;
  }
  .col-md-3 {
    -webkit-flex-basis: 25%;
    -ms-flex-preferred-size: 25%;
    flex-basis: 25%;
    max-width: 25%;
  }
  .col-md-4 {
    -webkit-flex-basis: 33.33333333%;
    -ms-flex-preferred-size: 33.33333333%;
    flex-basis: 33.33333333%;
    max-width: 33.33333333%;
  }
  .col-md-5 {
    -webkit-flex-basis: 41.66666667%;
    -ms-flex-preferred-size: 41.66666667%;
    flex-basis: 41.66666667%;
    max-width: 41.66666667%;
  }
  .col-md-6 {
    -webkit-flex-basis: 50%;
    -ms-flex-preferred-size: 50%;
    flex-basis: 50%;
    max-width: 50%;
  }
  .col-md-7 {
    -webkit-flex-basis: 58.33333333%;
    -ms-flex-preferred-size: 58.33333333%;
    flex-basis: 58.33333333%;
    max-width: 58.33333333%;
  }
  .col-md-8 {
    -webkit-flex-basis: 66.66666667%;
    -ms-flex-preferred-size: 66.66666667%;
    flex-basis: 66.66666667%;
    max-width: 66.66666667%;
  }
  .col-md-9 {
    -webkit-flex-basis: 75%;
    -ms-flex-preferred-size: 75%;
    flex-basis: 75%;
    max-width: 75%;
  }
  .col-md-10 {
    -webkit-flex-basis: 83.33333333%;
    -ms-flex-preferred-size: 83.33333333%;
    flex-basis: 83.33333333%;
    max-width: 83.33333333%;
  }
  .col-md-11 {
    -webkit-flex-basis: 91.66666667%;
    -ms-flex-preferred-size: 91.66666667%;
    flex-basis: 91.66666667%;
    max-width: 91.66666667%;
  }
  .col-md-12 {
    -webkit-flex-basis: 100%;
    -ms-flex-preferred-size: 100%;
    flex-basis: 100%;
    max-width: 100%;
  }
  .col-md-offset-1 {
    margin-left: 8.33333333%;
  }
  .col-md-offset-2 {
    margin-left: 16.66666667%;
  }
  .col-md-offset-3 {
    margin-left: 25%;
  }
  .col-md-offset-4 {
    margin-left: 33.33333333%;
  }
  .col-md-offset-5 {
    margin-left: 41.66666667%;
  }
  .col-md-offset-6 {
    margin-left: 50%;
  }
  .col-md-offset-7 {
    margin-left: 58.33333333%;
  }
  .col-md-offset-8 {
    margin-left: 66.66666667%;
  }
  .col-md-offset-9 {
    margin-left: 75%;
  }
  .col-md-offset-10 {
    margin-left: 83.33333333%;
  }
  .col-md-offset-11 {
    margin-left: 91.66666667%;
  }
  .start-md {
    -webkit-box-pack: start;
    -webkit-justify-content: flex-start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    text-align: start;
  }
  .center-md {
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    text-align: center;
  }
  .end-md {
    -webkit-box-pack: end;
    -webkit-justify-content: flex-end;
    -ms-flex-pack: end;
    justify-content: flex-end;
    text-align: end;
  }
  .top-md {
    -webkit-box-align: start;
    -webkit-align-items: flex-start;
    -ms-flex-align: start;
    align-items: flex-start;
  }
  .middle-md {
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
  }
  .bottom-md {
    -webkit-box-align: end;
    -webkit-align-items: flex-end;
    -ms-flex-align: end;
    align-items: flex-end;
  }
  .around-md {
    -webkit-justify-content: space-around;
    -ms-flex-pack: distribute;
    justify-content: space-around;
  }
  .between-md {
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between;
  }
  .first-md {
    -webkit-box-ordinal-group: 0;
    -webkit-order: -1;
    -ms-flex-order: -1;
    order: -1;
  }
  .last-md {
    -webkit-box-ordinal-group: 2;
    -webkit-order: 1;
    -ms-flex-order: 1;
    order: 1;
  }
}
@media only screen and (min-width: 75em) {
  .container {
    width: 71rem;
  }
  .col-lg,
  .col-lg-1,
  .col-lg-2,
  .col-lg-3,
  .col-lg-4,
  .col-lg-5,
  .col-lg-6,
  .col-lg-7,
  .col-lg-8,
  .col-lg-9,
  .col-lg-10,
  .col-lg-11,
  .col-lg-12,
  .col-lg-offset-1,
  .col-lg-offset-2,
  .col-lg-offset-3,
  .col-lg-offset-4,
  .col-lg-offset-5,
  .col-lg-offset-6,
  .col-lg-offset-7,
  .col-lg-offset-8,
  .col-lg-offset-9,
  .col-lg-offset-10,
  .col-lg-offset-11,
  .col-lg-offset-12 {
    box-sizing: border-box;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex: 0 1 auto;
    -ms-flex: 0 1 auto;
    flex: 0 1 auto;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-flex: 0;
    -webkit-flex-grow: 0;
    -ms-flex-positive: 0;
    flex-grow: 0;
    -webkit-flex-shrink: 0;
    -ms-flex-negative: 0;
    flex-shrink: 0;
    padding-right: 0.5rem;
    padding-left: 0.5rem;
  }
  .col-lg {
    -webkit-box-flex: 1;
    -webkit-flex-grow: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
    -webkit-flex-basis: 0;
    -ms-flex-preferred-size: 0;
    flex-basis: 0;
    max-width: 100%;
  }
  .col-lg-1 {
    -webkit-flex-basis: 8.33333333%;
    -ms-flex-preferred-size: 8.33333333%;
    flex-basis: 8.33333333%;
    max-width: 8.33333333%;
  }
  .col-lg-2 {
    -webkit-flex-basis: 16.66666667%;
    -ms-flex-preferred-size: 16.66666667%;
    flex-basis: 16.66666667%;
    max-width: 16.66666667%;
  }
  .col-lg-3 {
    -webkit-flex-basis: 25%;
    -ms-flex-preferred-size: 25%;
    flex-basis: 25%;
    max-width: 25%;
  }
  .col-lg-4 {
    -webkit-flex-basis: 33.33333333%;
    -ms-flex-preferred-size: 33.33333333%;
    flex-basis: 33.33333333%;
    max-width: 33.33333333%;
  }
  .col-lg-5 {
    -webkit-flex-basis: 41.66666667%;
    -ms-flex-preferred-size: 41.66666667%;
    flex-basis: 41.66666667%;
    max-width: 41.66666667%;
  }
  .col-lg-6 {
    -webkit-flex-basis: 50%;
    -ms-flex-preferred-size: 50%;
    flex-basis: 50%;
    max-width: 50%;
  }
  .col-lg-7 {
    -webkit-flex-basis: 58.33333333%;
    -ms-flex-preferred-size: 58.33333333%;
    flex-basis: 58.33333333%;
    max-width: 58.33333333%;
  }
  .col-lg-8 {
    -webkit-flex-basis: 66.66666667%;
    -ms-flex-preferred-size: 66.66666667%;
    flex-basis: 66.66666667%;
    max-width: 66.66666667%;
  }
  .col-lg-9 {
    -webkit-flex-basis: 75%;
    -ms-flex-preferred-size: 75%;
    flex-basis: 75%;
    max-width: 75%;
  }
  .col-lg-10 {
    -webkit-flex-basis: 83.33333333%;
    -ms-flex-preferred-size: 83.33333333%;
    flex-basis: 83.33333333%;
    max-width: 83.33333333%;
  }
  .col-lg-11 {
    -webkit-flex-basis: 91.66666667%;
    -ms-flex-preferred-size: 91.66666667%;
    flex-basis: 91.66666667%;
    max-width: 91.66666667%;
  }
  .col-lg-12 {
    -webkit-flex-basis: 100%;
    -ms-flex-preferred-size: 100%;
    flex-basis: 100%;
    max-width: 100%;
  }
  .col-lg-offset-1 {
    margin-left: 8.33333333%;
  }
  .col-lg-offset-2 {
    margin-left: 16.66666667%;
  }
  .col-lg-offset-3 {
    margin-left: 25%;
  }
  .col-lg-offset-4 {
    margin-left: 33.33333333%;
  }
  .col-lg-offset-5 {
    margin-left: 41.66666667%;
  }
  .col-lg-offset-6 {
    margin-left: 50%;
  }
  .col-lg-offset-7 {
    margin-left: 58.33333333%;
  }
  .col-lg-offset-8 {
    margin-left: 66.66666667%;
  }
  .col-lg-offset-9 {
    margin-left: 75%;
  }
  .col-lg-offset-10 {
    margin-left: 83.33333333%;
  }
  .col-lg-offset-11 {
    margin-left: 91.66666667%;
  }
  .start-lg {
    -webkit-box-pack: start;
    -webkit-justify-content: flex-start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    text-align: start;
  }
  .center-lg {
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    text-align: center;
  }
  .end-lg {
    -webkit-box-pack: end;
    -webkit-justify-content: flex-end;
    -ms-flex-pack: end;
    justify-content: flex-end;
    text-align: end;
  }
  .top-lg {
    -webkit-box-align: start;
    -webkit-align-items: flex-start;
    -ms-flex-align: start;
    align-items: flex-start;
  }
  .middle-lg {
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
  }
  .bottom-lg {
    -webkit-box-align: end;
    -webkit-align-items: flex-end;
    -ms-flex-align: end;
    align-items: flex-end;
  }
  .around-lg {
    -webkit-justify-content: space-around;
    -ms-flex-pack: distribute;
    justify-content: space-around;
  }
  .between-lg {
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between;
  }
  .first-lg {
    -webkit-box-ordinal-group: 0;
    -webkit-order: -1;
    -ms-flex-order: -1;
    order: -1;
  }
  .last-lg {
    -webkit-box-ordinal-group: 2;
    -webkit-order: 1;
    -ms-flex-order: 1;
    order: 1;
  }
}
.featured-posts a {
  color: #fff;
}
.featured-posts .featured-post {
  position: relative;
  float: left;
  height: 215px;
  background-size: cover;
  padding-right: .3%;
  padding-bottom: .3%;
  overflow: hidden;
}
.featured-posts .featured-post:first-child {
  width: 60%;
}
.featured-posts .featured-post:nth-child(2) {
  width: 39.7%;
}
.featured-posts .featured-post:nth-child(3),
.featured-posts .featured-post:nth-child(4),
.featured-posts .featured-post:nth-child(5) {
  width: 33.13%;
}
.featured-posts .featured-post:nth-child(2),
.featured-posts .featured-post:nth-child(5) {
  padding-right: 0;
}
.featured-posts .featured-post .featured-post-inner {
  height: 100%;
}
.featured-posts .featured-post .featured-post-inner .featured-cover {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  opacity: 0.5;
  -webkit-transition: all .2s linear;
  -moz-transition: all .2s linear;
  -ms-transition: all .2s linear;
  -o-transition: all .2s linear;
  transition: all .2s linear;
  background: -moz-linear-gradient(top, rgba(255, 255, 255, 0) 0%, #131313 100%);
  /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgba(255, 255, 255, 0)), color-stop(100%, #131313));
  /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top, rgba(255, 255, 255, 0) 0%, #131313 100%);
  /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top, rgba(255, 255, 255, 0) 0%, #131313 100%);
  /* Opera 11.10+ */
  background: -ms-linear-gradient(top, rgba(255, 255, 255, 0) 0%, #131313 100%);
  /* IE10+ */
  background: linear-gradient(to bottom, rgba(255, 255, 255, 0) 0%, #131313 100%);
  /* W3C */
}
.featured-posts .featured-post .featured-post-inner .featured-cover a {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
}
.featured-posts .featured-post .featured-post-inner .featured-title {
  position: absolute;
  width: 94%;
  bottom: -80px;
  height: 160px;
  text-shadow: 0 1px 3px rgba(0, 0, 0, 0.25);
  line-height: 20px;
  padding: 0 3%;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}
.featured-posts .featured-post .featured-post-inner .featured-title h2 {
  height: 2em;
}
.featured-posts .featured-post .featured-post-inner .featured-title h2 a {
  color: #fff;
  font-weight: 400;
  font-size: 1.1rem;
  text-decoration: none;
}
.featured-posts .featured-post .featured-post-inner .featured-title h3 {
  font-weight: 200;
  font-size: .75rem;
  line-height: .9rem;
  color: #fff;
}
.featured-posts .featured-post:hover .featured-cover {
  opacity: 1;
}
.featured-posts .featured-post:hover .featured-title {
  bottom: 0;
}
.featured-posts-1-4.horizontal,
.featured-posts-1-4.vertical {
  padding-left: .5rem;
  padding-right: .5rem;
  padding-top: 1rem;
}
.featured-posts-1-4.horizontal .post-meta,
.featured-posts-1-4.vertical .post-meta {
  color: #666;
  font-size: .85rem;
  margin-bottom: .5rem;
}
.featured-posts-1-4.horizontal .post-meta .dashicons,
.featured-posts-1-4.vertical .post-meta .dashicons {
  line-height: .7rem;
  font-size: .85rem;
  width: .85rem;
  height: .85rem;
}
.featured-posts-1-4.horizontal .left,
.featured-posts-1-4.vertical .left,
.featured-posts-1-4.horizontal .top,
.featured-posts-1-4.vertical .top {
  display: block;
  position: relative;
  background: #fff;
  border: 1px solid #f5f5f5;
  border-right: none;
  padding: 1rem;
}
.featured-posts-1-4.horizontal .left .preview a,
.featured-posts-1-4.vertical .left .preview a,
.featured-posts-1-4.horizontal .top .preview a,
.featured-posts-1-4.vertical .top .preview a {
  color: #fff;
  text-decoration: none;
  padding: .3rem .7rem;
  font-size: .75rem;
  line-height: 1.5rem;
}
.featured-posts-1-4.horizontal .left .post-title,
.featured-posts-1-4.vertical .left .post-title,
.featured-posts-1-4.horizontal .top .post-title,
.featured-posts-1-4.vertical .top .post-title {
  font-weight: 400;
  font-size: 1.2rem;
  margin-top: .8rem;
  margin-bottom: .8rem;
}
.featured-posts-1-4.horizontal .right,
.featured-posts-1-4.vertical .right,
.featured-posts-1-4.horizontal .bottom,
.featured-posts-1-4.vertical .bottom {
  border: 1px solid #f5f5f5;
  border-left: none;
  list-style: none;
  list-style-type: none;
  margin: 0;
  padding: 0;
}
.featured-posts-1-4.horizontal .right li,
.featured-posts-1-4.vertical .right li,
.featured-posts-1-4.horizontal .bottom li,
.featured-posts-1-4.vertical .bottom li {
  background: #f7f7f7;
  padding: .5rem 1.2rem;
  border-top: 1px solid #fff;
  border-bottom: 1px solid #eaeaea;
  -webkit-transition: all .40s;
  -moz-transition: all .40s;
  -o-transition: all .40s;
  transition: all .40s;
  border-left: 3px solid #eaeaea;
}
.featured-posts-1-4.horizontal .right li img,
.featured-posts-1-4.vertical .right li img,
.featured-posts-1-4.horizontal .bottom li img,
.featured-posts-1-4.vertical .bottom li img {
  margin-top: 0;
  margin-bottom: .5rem;
}
.featured-posts-1-4.horizontal .right li h4,
.featured-posts-1-4.vertical .right li h4,
.featured-posts-1-4.horizontal .bottom li h4,
.featured-posts-1-4.vertical .bottom li h4 {
  margin-top: 0;
  margin-bottom: 1rem;
  font-weight: normal;
}
.featured-posts-1-4.horizontal .top,
.featured-posts-1-4.vertical .top {
  border: 1px solid #eaeaea;
  border-bottom: none;
}
.featured-posts-1-4.horizontal .bottom,
.featured-posts-1-4.vertical .bottom {
  border: 1px solid #eaeaea;
}
.featured-posts-1-4.horizontal .bottom h4,
.featured-posts-1-4.vertical .bottom h4 {
  font-size: .85rem;
}
.featured-posts-1-4.horizontal .bottom .post-meta,
.featured-posts-1-4.vertical .bottom .post-meta {
  font-size: .65rem;
  margin-bottom: .5rem;
}
.featured-posts-1-4.horizontal .bottom .post-meta .dashicons,
.featured-posts-1-4.vertical .bottom .post-meta .dashicons {
  line-height: .7rem;
  font-size: .85rem;
  width: .85rem;
  height: .85rem;
}
.featured-posts-1-4.horizontal .bottom li,
.featured-posts-1-4.vertical .bottom li {
  border-left: none;
}
.featured-posts-1-4.horizontal .bottom li:first-child,
.featured-posts-1-4.vertical .bottom li:first-child {
  border-top: 3px solid #eaeaea;
}
.maera_latest_posts_article h1,
.maera_latest_posts_article h2,
.maera_latest_posts_article h3,
.maera_latest_posts_article h4,
.maera_latest_posts_article h5 {
  font-weight: normal;
}
.maera_latest_posts_article a {
  text-decoration: none;
  color: #444;
}
.nav.simple.horizontal.two-levels {
  background: #333;
  position: relative;
  height: 72px;
}
.nav.simple.horizontal.two-levels ul.links {
  padding: 0;
  margin-left: 0;
  list-style: none;
  list-style-type: none;
  margin-top: 10px;
  height: 10px;
}
.nav.simple.horizontal.two-levels ul.links li {
  display: inline-block;
}
.nav.simple.horizontal.two-levels ul.links li a {
  padding: 10px 15px;
  text-decoration: none;
  color: #fff;
  background: #333;
}
.nav.simple.horizontal.two-levels ul.links li ul {
  display: none;
}
.nav.simple.horizontal.two-levels ul.links li.active a,
.nav.simple.horizontal.two-levels ul.links li:hover a {
  background: #c00;
}
.nav.simple.horizontal.two-levels ul.links li.active ul.second-level,
.nav.simple.horizontal.two-levels ul.links li:hover ul.second-level {
  position: absolute;
  left: 0;
  z-index: 999;
  display: block;
  padding: 10px 0;
  height: 16px;
  margin-left: 0;
  list-style: none;
  list-style-type: none;
  margin-top: 10px;
  background: #c00;
  width: 100%;
}
.nav.simple.horizontal.two-levels ul.links li.active ul.second-level li,
.nav.simple.horizontal.two-levels ul.links li:hover ul.second-level li {
  display: inline-block;
}
/**
* Design Shack Respnsive Menu
*/
* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
nav {
  width: 90%;
  margin: 100px auto;
  overflow: hidden;
}
nav ul {
  list-style: none;
  overflow: hidden;
}
nav li a {
  background: #444;
  border-right: 1px solid #fff;
  color: #fff;
  display: block;
  float: left;
  font: 400 13px/1.4 'Cutive', Helvetica, Verdana, Arial, sans-serif;
  padding: 10px;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  width: 12.5%;
  /*TRANSISTIONS*/
  -webkit-transition: background 0.5s ease;
  -moz-transition: background 0.5s ease;
  -o-transition: background 0.5s ease;
  -ms-transition: background 0.5s ease;
  transition: background 0.5s ease;
}
/*HOVER*/
nav li a:hover {
  background: #222;
}
/*SMALL*/
nav small {
  font: 100 11px/1 Helvetica, Verdana, Arial, sans-serif;
  text-transform: none;
  color: #aaa;
}
/*BORDER FIX*/
nav li:last-child a {
  border: none;
}
/*BLUE MENU*/
nav .blue {
  margin-top: 50px;
}
.blue li a {
  background: #75b1de;
}
.blue small {
  color: white;
}
.blue li a:hover {
  background: #444;
}
/*RED MENU*/
nav .red {
  margin-top: 50px;
}
.red li a {
  background: #5C0002;
}
.red small {
  color: white;
}
.red li a:hover {
  background: #a60306;
}
/* MEDIA QUERIES*/
@media only screen and (max-width: 1220px), only screen and (max-device-width: 1220px) {
  nav li a {
    font: 400 10px/1.4 'Cutive', Helvetica, Verdana, Arial, sans-serif;
  }
  nav small {
    font: 100 10px/1 Helvetica, Verdana, Arial, sans-serif;
  }
}
@media only screen and (max-width: 930px), only screen and (max-device-width: 930px) {
  nav li a {
    width: 25%;
    border-bottom: 1px solid #fff;
    font: 400 11px/1.4 'Cutive', Helvetica, Verdana, Arial, sans-serif;
  }
  nav li:last-child a,
  nav li:nth-child(4) a {
    border-right: none;
  }
  nav li:nth-child(5) a,
  nav li:nth-child(6) a,
  nav li:nth-child(7) a,
  nav li:nth-child(8) a {
    border-bottom: none;
  }
}
@media only screen and (max-width: 580px), only screen and (max-device-width: 580px) {
  nav li a {
    width: 50%;
    font: 400 12px/1.4 'Cutive', Helvetica, Verdana, Arial, sans-serif;
    padding-top: 12px;
    padding-bottom: 12px;
  }
  nav li:nth-child(even) a {
    border-right: none;
  }
  nav li:nth-child(5) a,
  nav li:nth-child(6) a {
    border-bottom: 1px solid #fff;
  }
}
@media only screen and (max-width: 320px), only screen and (max-device-width: 320px) {
  nav li a {
    font: 400 11px/1.4 'Cutive', Helvetica, Verdana, Arial, sans-serif;
  }
}
.widget .featured-posts-1-4.vertical .bottom {
  border-bottom: 5px solid transparent;
}
.widget.red .featured-posts-1-4.vertical .bottom {
  border-bottom-color: #f44336;
}
.widget.red .preview a {
  background: #f44336;
}
.widget.pink .featured-posts-1-4.vertical .bottom {
  border-bottom-color: #e91e63;
}
.widget.pink .preview a {
  background: #e91e63;
}
.widget.purple .featured-posts-1-4.vertical .bottom {
  border-bottom-color: #9c27b0;
}
.widget.purple .preview a {
  background: #9c27b0;
}
.widget.deep-purple .featured-posts-1-4.vertical .bottom {
  border-bottom-color: #673ab7;
}
.widget.deep-purple .preview a {
  background: #673ab7;
}
.widget.indigo .featured-posts-1-4.vertical .bottom {
  border-bottom-color: #3f51b5;
}
.widget.indigo .preview a {
  background: #3f51b5;
}
.widget.blue .featured-posts-1-4.vertical .bottom {
  border-bottom-color: #2196f3;
}
.widget.blue .preview a {
  background: #2196f3;
}
.widget.light-blue .featured-posts-1-4.vertical .bottom {
  border-bottom-color: #03a9f4;
}
.widget.light-blue .preview a {
  background: #03a9f4;
}
.widget.cyan .featured-posts-1-4.vertical .bottom {
  border-bottom-color: #00bcd4;
}
.widget.cyan .preview a {
  background: #00bcd4;
}
.widget.teal .featured-posts-1-4.vertical .bottom {
  border-bottom-color: #009688;
}
.widget.teal .preview a {
  background: #009688;
}
.widget.green .featured-posts-1-4.vertical .bottom {
  border-bottom-color: #4caf50;
}
.widget.green .preview a {
  background: #4caf50;
}
.widget.light-green .featured-posts-1-4.vertical .bottom {
  border-bottom-color: #8bc34a;
}
.widget.light-green .preview a {
  background: #8bc34a;
}
.widget.lime .featured-posts-1-4.vertical .bottom {
  border-bottom-color: #cddc39;
}
.widget.lime .preview a {
  background: #cddc39;
}
.widget.yellow .featured-posts-1-4.vertical .bottom {
  border-bottom-color: #ffeb3b;
}
.widget.yellow .preview a {
  background: #ffeb3b;
}
.widget.amber .featured-posts-1-4.vertical .bottom {
  border-bottom-color: #ffc107;
}
.widget.amber .preview a {
  background: #ffc107;
}
.widget.orange .featured-posts-1-4.vertical .bottom {
  border-bottom-color: #ff9800;
}
.widget.orange .preview a {
  background: #ff9800;
}
.widget.deep-orange .featured-posts-1-4.vertical .bottom {
  border-bottom-color: #ff5722;
}
.widget.deep-orange .preview a {
  background: #ff5722;
}
.widget.brown .featured-posts-1-4.vertical .bottom {
  border-bottom-color: #795548;
}
.widget.brown .preview a {
  background: #795548;
}
.widget.grey .featured-posts-1-4.vertical .bottom {
  border-bottom-color: #9e9e9e;
}
.widget.grey .preview a {
  background: #9e9e9e;
}
.widget.blue-grey .featured-posts-1-4.vertical .bottom {
  border-bottom-color: #607d8b;
}
.widget.blue-grey .preview a {
  background: #607d8b;
}
body {
  margin: 0;
}
body #sidebar-primary {
  padding-left: 20px;
  overflow: hidden;
}
body.sidebar-300 #sidebar-primary {
  width: 300px;
  min-width: 300px;
  max-width: 300px;
}
body.sidebar-320 #sidebar-primary {
  width: 320px;
  min-width: 320px;
  max-width: 320px;
}
body.sidebar-336 #sidebar-primary {
  width: 336px;
  min-width: 336px;
  max-width: 336px;
}
.content-primary-wrapper.main {
  display: -webkit-flex;
  display: -moz-flex;
  display: flex;
}
.top.module {
  clear: both;
}
.top.module.single a.featured-image {
  width: 60%;
  margin-right: 2%;
  display: inline-block;
  float: left;
}
.top.module.single .content {
  width: 38%;
  font-size: 1.2em;
  display: inline-block;
}
.top.module.single .title {
  padding-bottom: 1em;
  border-bottom: 1px dashed #dedede;
}
.top.module.single .title a {
  color: #333;
  text-decoration: none;
}
img {
  max-width: 100%;
}
div.post-list {
  padding-right: 20px;
}
