body {
  margin: 0;
}
body #sidebar-primary {
  padding-left: 20px;
  overflow: hidden;
}
body.sidebar-300 #sidebar-primary {
  width: 300px;
  min-width: 300px;
  max-width: 300px;
}
body.sidebar-320 #sidebar-primary {
  width: 320px;
  min-width: 320px;
  max-width: 320px;
}
body.sidebar-336 #sidebar-primary {
  width: 336px;
  min-width: 336px;
  max-width: 336px;
}
.container.main-section,
.header .wrapper {
  max-width: 1440px;
  margin-left: auto;
  margin-right: auto;
  padding: 20px;
}
.content-primary-wrapper.main {
  display: -webkit-flex;
  display: -moz-flex;
  display: flex;
}
.top.module {
  clear: both;
}
.top.module.grid {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
}
.top.module.grid .single {
  min-width: 320px;
  height: 35vh;
  background-size: cover;
  width: 29.75%;
  margin-left: .5%;
  margin-bottom: 3px;
  display: flex;
  align-items: flex-end;
  justify-content: left;
  overflow: hidden;
}
.top.module.grid .single .inside {
  padding: 1%;
  background: rgba(0, 0, 0, 0.65);
  width: 100%;
  max-width: 450px;
}
.top.module.grid .single .inside h3.title a {
  font-size: 1.6em;
  width: 60%;
  text-decoration: none;
  color: #fff;
  font-size: 1em;
}
.top.module.grid .single:first-child {
  height: 45vh;
  width: 60%;
  margin-left: 0;
}
.top.module.grid .single:nth-child(2),
.top.module.grid .single:nth-child(3) {
  height: 45vh;
  width: 39.5%;
}
.top.module.grid .single:nth-child(3) {
  margin-left: 0;
  height: 35vh;
}
.top.module.single a.featured-image {
  width: 60%;
  margin-right: 2%;
  display: inline-block;
  float: left;
}
.top.module.single .content {
  width: 38%;
  font-size: 1.2em;
  display: inline-block;
}
.top.module.single .title {
  padding-bottom: 1em;
  border-bottom: 1px dashed #dedede;
}
.top.module.single .title a {
  color: #333;
  text-decoration: none;
}
img {
  max-width: 100%;
}
body {
  min-width: 1120px;
  margin: auto;
}
body.site-mode-boxed {
  max-width: 1120px;
}
.column.percent-20 {
  width: 20%;
}
.column.percent-30 {
  width: 30%;
}
.column.percent-40 {
  width: 40%;
}
.column.percent-50 {
  width: 50%;
}
.column.percent-60 {
  width: 60%;
}
.column.percent-70 {
  width: 70%;
}
.column.percent-80 {
  width: 80%;
}
.column.percent-100 {
  width: 100%;
}
.flex {
  display: flex;
  align-content: flex-start;
  flex-wrap: wrap;
}
div.post-list {
  padding-right: 20px;
}
